.NavSideBar {
    display: inline-block;
    width: 100%;
}

.NavSideBarPanel {
    background-color: #fce181 !important;
    position: absolute !important;
}

.NavSideBarContent {
    margin-left: 150px !important;
    background-color: #ddd !important;
}

.NavSideBarContentNoAuth {
    margin-left: 0 !important;
}

.Pusher {
    min-height: calc(100vh - 80px);
    background-color: #633e61 !important;
}

.Segment {
    overflow-y: auto;
}

