.NavBar {
    height: 60px;
    margin: 0 !important;
    padding: 0 !important;
    background-color: #474853 !important;
    padding-left: 40px !important;
    border-radius: 0 !important;
}

.NavBarLink {
    color: #eee !important;
}

