.NavBar {
    height: 60px;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    background-color: #474853 !important;
    border-radius: 0 !important;
    padding-left: 150px !important;
}

.NavBarLink {
    color: #eee !important;
}
